h1{
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

body{
    background-color: black;
}

img{
    height: 200px;
    width: 100%;
    border: 5px solid white;
}
p{
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
}
#image{
    width: 50%;
    margin-left: 25%;
    margin-top: 20%;
}